.site-title {
    display: block;
    font-weight: 600;
    font-size: clamp(1.6rem, 6vw, 2rem);
    color: var(--accent-color-dim);
    cursor: default;
    letter-spacing: 0.1rem;
    white-space: nowrap;
    overflow: hidden;
}

.site-wrapper span {
    font-size: clamp(2.5rem, 8vw, 3rem);
    /*font-weight: 100;*/
    color: var(--accent-color-dim-30);
    /*-webkit-transform: scale(.8, 1); !* Safari and Chrome *!*/
    /*-moz-transform: scale(.8, 1); !* Firefox *!*/
    /*-ms-transform: scale(.8, 1); !* IE 9 *!*/
    /*-o-transform: scale(.8, 1); !* Opera *!*/
    /*transform: scale(.8, 1);*/
    /*align-self: flex-start;*/
    padding-bottom: 0.1em;
    margin: 1rem 0;
    line-height: 4rem;
    font-family: Tahoma, sans-serif;
    cursor: default;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.search-statistics .dimmer {
    color: var(--accent-color-dim-30);
}

.site-logo {
    display: block;
    width: clamp(48px, 10vw, 56px);
    height: clamp(48px, 10vw, 56px);
    margin: 1rem 0;
}


.results-container {
    font-family: "Arial", sans-serif;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: auto 0 auto 1rem;
}

.column-wrapper {
    display: inline-block;
    flex-direction: column;
    align-self: center;
    width: min-content;
    padding-right: 1rem;
}

.column-wrapper, .search-results {
    width: clamp(0rem, 100%, 600px);
}


.padding-wrapper {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    padding-bottom: 0.5rem;
    align-items: center;
    /*padding-left: 1rem;*/
    /*padding-left: clamp(0rem, calc(1rem - ((1200px - 100vw) / 100)), 1rem);*/
}


.padding-wrapper::-webkit-scrollbar {
    display: none;

}


.padding-wrapper::-webkit-scrollbar:vertical {
    display: block;
    background: transparent;
    width: 1.25rem;

    /*height: 0;*/
    /*scrollbar-gutter: stable;*/
    /*padding: 0;*/

}


.padding-wrapper::-webkit-scrollbar-thumb {
    background: var(--accent-color-dim-30);
    border-radius: 1rem;
    border: 0.4rem solid transparent;
    background-clip: padding-box;
    /*margin: 0;*/
    /*scrollbar-gutter: stable;*/
    /*padding: 0;*/
}

.padding-wrapper::-webkit-scrollbar-thumb:hover {
    background: var(--accent-color-dim);
    border: 0.35rem solid transparent;
    background-clip: padding-box;
    /*margin: 0;*/
    /*scrollbar-gutter: stable;*/
    /*padding: 0;*/
}

.padding-wrapper::-webkit-scrollbar-track {
    /*box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);*/
    border-radius: 1rem;
    /*border: solid 1px transparent;*/
    /*background: transparent;*/
}

.padding-wrapper::-webkit-scrollbar-track:hover {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
    /*border-radius: 1rem;*/
    /*margin: 0;*/
}


input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    height: 16px;
    width: 16px;
    margin-left: 0.4em;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%23777'><path d='M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z'/></svg>");
    cursor: pointer;
}

input[type="search"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    font-size: 1.25rem;
    padding: 1rem 1.5rem;
    border: none;
    border-radius: 0.5rem 1.5rem 0.5rem 1.5rem;
    background-color: var(--foreground-color);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

::placeholder {
    color: var(--accent-color-dim);
    opacity: 1;
}

::-ms-input-placeholder {
    color: var(--accent-color-dim);
}

input[type="search"]:focus {
    border: none;
    outline: none;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    background-color: var(--foreground-color-bright);
}

.search-statistics {
    display: flex;
    justify-content: flex-end;
    margin: 0.25rem 0.25rem 0 0;
}

.search-statistics * {
    gap: 0.8rem;
    font-size: 0.8rem;
    cursor: default;
    color: var(--accent-color-dim);
}

.search-summary * {
    display: flex;
    justify-content: flex-start;
    margin: 6px;
    font-size: 0.9rem;
    color: var(--accent-color-dim);
}

.search-suggestions * {
    font-size: 1em;
    margin: 0.2em 0;
    display: inline-block;
}


@media (max-width: 650px) {
    .search-wrapper {
        padding-right: 0;
    }

    .padding-wrapper {
        padding: 0;
    }
}

@media (hover: none) {
    .padding-wrapper {
        padding-right: 1rem;
    }
}

@media (max-width: 600px) {
    /*.results-container {*/
    /*    width: 90%;*/
    /*}*/
    /*.search-results, .column-wrapper {*/
    /*    width: 100%;*/
    /*}*/
    .padding-wrapper::-webkit-scrollbar-track {
        box-shadow: none;
        border-radius: 1rem;


        /*background: transparent;*/
    }

    input[type="search"] {
        padding: 0.8rem 1.5rem;
    }

    .padding-wrapper::-webkit-scrollbar-thumb {
        border: 0.5rem solid transparent;
    }

    .padding-wrapper::-webkit-scrollbar-thumb:hover {
        border: 0.4rem solid transparent;
    }


    /*.site-title {*/
    /*    flex: 1 1 auto; !* grow | shrink | basis *!*/
    /*    min-width: 0; !* Ensures text can shrink below its default minimum width *!*/
    /*}*/
    /*.site-logo {*/
    /*    !*display: block;*!*/
    /*    width: 48px;*/
    /*    height: 48px;*/
    /*    !*margin: 1rem 0;*!*/
    /*}*/
    /*.site-wrapper span {*/
    /*    !*font-size: 2.5rem;*!*/
    /*    margin: 1rem 0;*/
    /*    line-height: 3.5rem;*/
    /*    font-family: Tahoma, sans-serif;*/
    /*    cursor: default;*/
    /*    -webkit-touch-callout: none;*/
    /*    -webkit-user-select: none;*/
    /*    -ms-user-select: none;*/
    /*    user-select: none;*/
    /*}*/
}
